{
  "extends": [
    "standard",
    "prettier",
    "prettier/standard",
    "plugin:jest/style",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest",
    "prettier",
    "standard"
  ],
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "tabWidth": 4,
        "printWidth": 130
      }
    ]
  },
  "env": {
    "jest/globals": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  }
}
